# Zapnout modul pro přepis url
RewriteEngine On

# Požadavek na neexistující url -> zobrazí např index.php?stranka=kontakt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+) index.php?pages=$1 [L,QSA]