body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #000;
}

*, *:after, *:before {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --main-txt-color: #2d2d2d;
    --main-hover-color: #cf7900;
    --main-footer_bg_color: #c8c8c8;
}

/*Text colors*/
.logo a, .tel, .social a, .main_menu a, .footer a{
    color: var(--main-txt-color);
}

h1, h2, h3, h4, p, a, li, ol, ul, body {
    margin: 0;
    padding: 0;
}

a, form input {
    transition: all 0.3s ease-out;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

/*          Top header*/
.contacts {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.contacts .tel:hover {
    color: var(--main-hover-color);
}


.social {
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.social a:hover {
    color: var(--main-hover-color);
}

/*          Header Logo*/
.logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

.logo a {
    text-transform: uppercase;
}

.logo a:hover {
    color: var(--main-hover-color);
}

/*          Menu*/
.main_menu {
    font-size: 18px;
}

.main_menu a:hover {
    color: var(--main-hover-color);
    border-bottom: var(--main-hover-color) 3px solid;
}

.main_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15%;
}

/*          Showcase*/
.showcase_home, .showcase_contact, .showcase_gallery, .showcase_rezervation {
    height: 300px;
}

.showcase_home {
    background: url(../upload/source/primapenzion-main.jpg) no-repeat center center;
}

.showcase_contact {
    background: url(../upload/source/primapenzion-room.jpg) no-repeat center center;
}

.showcase_gallery {
    background: url(../upload/source/primapenzion-room2.jpg) no-repeat center center;
}

.showcase_rezervation {
    background: url(../upload/source/primapenzion-pool-min.jpg) no-repeat center center;
}

/*              Footer*/
.footer {
    background-color: var(--main-footer_bg_color);
    text-align: center;
}

.footer_logo {
    font-size: 25px;
    font-weight: bold;
}

.footer_logo a:hover, .address a:hover, .call a:hover, .email a:hover, .footer_social a:hover {
    color: var(--main-hover-color);
}

.footer_contact {
    padding-top: 15px;
    line-height: 180%;
}

.footer_social a {
    padding: 0 20px;
    font-size: 20px;
}

/*              Responsive*/
@media screen and (max-width: 650px){
    .container{
        width: 95%;
    }

    .main_menu ul{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    .address, .call, .email{
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }
}